html, body{
    /* 禁用回弹效果 */
    overscroll-behavior: none;
    /* 防止部分浏览器默认拖拽行为 */
    -webkit-user-drag: none;user-select: none;
    /* 禁用回弹效果 */
    overscroll-behavior: none;
    /* 防止部分浏览器默认拖拽行为 */
    -webkit-user-drag: none;
    /* 防止文本选择 */
    -webkit-touch-callout: none;
    /* 禁止长按链接弹出菜单 */
    -webkit-user-select: none;
    /* webkit浏览器 */
    -khtml-user-select: none;
}
 
html, body {
	background: -webkit-linear-gradient(#ecf0f1, #fff 180px);
	background:    -moz-linear-gradient(#ecf0f1, #fff 180px);
	background:     -ms-linear-gradient(#ecf0f1, #fff 180px);
	background:      -o-linear-gradient(#ecf0f1, #fff 180px);
	background:         linear-gradient(#ecf0f1, #fff 180px); }
a, a:hover, a:focus { color: #0095ff; }
.text-overflow { white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

@media (min-width: 768px) {
	.container { max-width: 730px !important; }
}

.examples { margin-top: 40px; }
.examples .row { margin-bottom: 20px; }
.examples .col-md-3 { text-align: center; margin-bottom: 20px; }
.example img{width: 100%;}

