


.showcase {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;z-index: 998;;
    
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(13,13,13,1.00) url(./cover.jpg) no-repeat center center/cover;
    z-index: -1;
    overflow: hidden;border-radius: 10px 
}

.video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color:rgba(0, 0, 0, 0.6); */
    background-image: linear-gradient( 0deg , rgba(0, 0, 0, 0), transparent);
}


.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



